 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@400;500&display=swap');

 body {
     font-family: Work Sans;
     max-width: 1400px;
     margin: 0 auto;
 }

 /* nav style start */
 nav {
     min-height: 50px;
     display: flex;
     align-items: center;

 }

 .nav-title-container {
     display: flex;
     width: 50%;
     justify-content: center;

 }

 .nav-title {
     font-size: 2.9rem;
     font-style: normal;
     font-weight: 700;

 }

 .G {
     color: #ff42a5;
 }

 .title-img {
     object-fit: contain;
     margin-right: 10px;
 }

 .menu-container>a {
     text-decoration: none;
     font-size: 1.5rem;
     color: black;

 }

 .menu-container {
     width: 50%;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .fa-brands {
     font-size: 1.2rem;
 }

 .menu-button {
     border: 0;
     padding: 10px;
     border-radius: 5px;
     text-align: center;
     font-size: 1.2rem;
     font-style: normal;
     font-weight: 500;
     align-items: center;
     cursor: pointer;
 }

 /* nav style end */

 .goat-container {
     margin-top: 50px;
     display: flex;
     /* align-content: center; */
     text-align: center;

 }

 .back {
     position: absolute;
     width: 100%;
     display: block;

 }

 .goat-des {
     align-content: center;
     position: relative;
     width: 50%;

 }

 .goat-img-container {

     width: 50%;
     align-content: center;

 }

 .goat-img {
     width: 80%;
     /* display: block; */
     /* margin: 0 auto; */

 }

 .goat-des>h3 {
     color: #0B0223;
     font-size: 1.7rem;
     font-style: normal;
     margin-bottom: 0px;
 }


 .goat-title {
     font-size: 4rem;
     font-style: normal;
     font-weight: bolder;
     margin-top: 0;
     margin-bottom: 0;

     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .goat-para {
     color: #534C64;
     font-size: 1rem;
     font-style: normal;
     display: block;
     margin-top: 0;
     margin-bottom: 0;
 }

 .sign-btn {
     margin-top: 0;
     color: white;
     padding: 10px;
     border: none;
     border-radius: 20px;
     background-color: #FF42A5;
 }

 .go-btn {
     color: white;
     padding: 10px;
     border: none;
     border-radius: 20px;
     background-color: #4EC5F7;
 }

 /* goat style end */


 /* card style start */

 .card-title {
     margin-top: 100px;
     color: #0B0223;
     text-align: right;
     font-size: 2rem;
     font-style: normal;
     font-weight: 700;
     text-align: center;
     margin-bottom: 0;
 }

 .funny-videos {
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .card-des {
     color: #534C64;
     font-size: .8rem;
     font-style: normal;
     font-weight: 400;
     text-align: center;
     margin-bottom: 30px;
 }

 .card-img-container {
     display: flex;
     justify-content: space-around;
     align-content: center;
     align-items: center;

 }

 .card-img {
     width: 300px;
     align-content: center;

 }

 .card-img>img {
     width: 100%;
 }

 .card-para {
     color: #534C64;
     font-size: 1.2rem;
     font-style: normal;
 }

 /* card style end */


 /* banner style start */
 .Banner-container {
     display: flex;
     align-items: center;
     /* text-align: center; */
     justify-content: center;
 }

 .back-pic {
        width: 80%;
        position: relative;
        margin-left: 78px;
 }

 .front-pic {
    width: 40%;
    position: relative;
    bottom: 145px;
 }

 .banner-des {
     width: 50%;
     /* display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center; */
 }

 .banner-img {
    width: 50%;
     position: relative;
 }

 .banner-title {
     text-align: center;
     font-size: 3rem;
     font-style: normal;
     font-weight: 700;
 }

 .banner-title>span {
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .banner-para {
     color: #534C64;
     font-size: 1rem;
     font-style: normal;
     font-weight: 400;
     text-align: center;
 }