@media screen and (max-width: 576px) {
    /* nav responsive start here */
    nav, .menu-container{
        flex-direction: column;
    }
    .menu-container, .goat-des {
        width: 100%;
    }
    
    .menu-container> a {
        margin-top: 20px;
    }
    /* nav responsive end here */

    .goat-container{
        flex-direction: column-reverse;
    }

    
 }
 @media screen and (max-width: 960px) {
    /* nav responsive start here */

    nav, .menu-container{
        flex-direction: column;
    }
    .menu-container {
        width: 100%;
    }
    .nav-title-container{
        width: auto;
    }
    .menu-container> a {
        margin-top: 20px;
    }
    /* nav responsive end here */
 }
