@media screen and (max-width: 480px) {
    /* nav responsive start here */
    nav, .menu-container{
        flex-direction: column;
    }
    .menu-container, .goat-des, .goat-img-container {
        width: 100%;
    }
    
    .menu-container> a {
        margin-top: 20px;
    }
    /* nav responsive end here */

    .goat-container, .Banner-container{
        flex-direction: column-reverse;
    }

    .card-img-container{
        flex-direction: column;
    }
    .banner-des{
        width: 100%;
    }
    .banner-img{
        width: 100%;
    }


    .btn-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
        padding: 0;
    }
    .btn{
        font-size: 0.42rem;
        width: none;
    }
    .btn-side{
        margin: 0;
    }
    

   
}

 @media screen and (max-width: 768px) {
    /* nav responsive start here */
    nav, .menu-container{
        flex-direction: column;
    }
    .card-img-container{
        flex-direction: column;
    }
    .menu-container {
        width: 100%;
    }
    .nav-title-container{
        width: auto;
    }
    .menu-container> a {
        margin-top: 20px;
    }
    /* nav responsive end here */
    .Banner-container{
        flex-direction: column;
    }
    .btn-container{
        margin: 0 50px;
    }
    footer{
        margin-top: 50px;
    }
    .btn-side{
        margin: 0;
    }

}